.App {
  width: 100%;
}

div {
  display:flex;
  flex-wrap: wrap;

}

header {
  text-align: center;
  width: 100%;
  background-color: gray;
  font-size: 30px;
  padding: 10px;
}

.starships {
  display:flex;
  justify-content: space-evenly;
  border-style: solid;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  background-color:  darkgreen;
  color: white;
}